html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(/img/react2.jpg) no-repeat;
    background-size: 100%;
    background-color: #5DADE2;
    background-position: bottom;
    min-height: 100%;
}

form {
    padding: 25px;
    margin-top: 60px;
}

form button,
form h5 {
    margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #6C3483;
}